
form {
    margin: 0 auto;
    padding: 1em;
}

label {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: block;
    width: 65vw;
    text-align: left;
}

input {
    width: 65vw;
    margin-bottom: 25px;
    padding-top: 10px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #c10c2f;
}

input:focus, input:hover {
    transition: 0.2s;
    border-bottom: 1px solid #000;
}

.button {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

button {
    color: #fff;
    padding: 6px 14px;
    background-color: #c10c2f;
    border: 1px solid #c10c2f;
}

button:hover {
    color: #c10c2f;
    background-color: #fff;
    border: 1px solid;
    cursor: pointer;
}

@media only screen and (min-width: 390px) {
    label, input {
        max-width: 290px;
    }
}