form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: left;
}

.button {
    margin: 10px auto 0 auto;
}

button {
    color: #fff;
    padding: 5px 13px;
    background-color: #c10c2f;
    border: 1px solid #c10c2f;
}

button:hover {
    color: #c10c2f;
    background-color: #fff;
    border: 1px solid;
    cursor: pointer;
}